h1{
    color: #2C2F33;
    font-size: 50px;
    font-family: 'Ubuntu', sans-serif;
}
body{
    background: #001220;
    background-image: url('waves1.svg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}
p{
    color: #2C2F33;
    font-family: 'Open Sans';
}
.intro-top{
    position: relative;
}
.intro{
    font-family: 'Ubuntu', sans-serif;
    color: #FFFAFA;
}