h1{
    color: #FFFFFF;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
body{
    background: #2C2F33;
    background-blend-mode: soft-light;
}
h2{
    color: #7289da;
    font-family: 'Poppins', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
